問題：<%= @question.name %>
<hr />

<%= @question.terminal %>で始まるメソッドを答えてください。<br />
<% if flash[:ng_message] %>
  <div style="color:#FF0000"><%= flash[:ng_message] %></div>
<% end %>

<%= form_for :answer, :url => {:action => :answer, :id => params[:id]}, :remote => true do |f| %>
  <%= f.text_field :value, :value => "", :autofocus => "autofocus", :autocomplete => "off" %><br />
  <%= f.hidden_field :question_id, :value => @question.id %><br />
  <%= submit_tag "回答" %>
<% end %>

<% if session[:history] %>
  <hr />
  history:<br />
  <%= session[:history].map{|id| @language.language_methods.find(id).name }.join("→") %>
<% end %>


