問題：<%= @question.name %>
<hr />

<%= @question.terminal %>で始まるメソッドを答えてください。<br />
<% if flash[:ng_message] %>
  <div style="color:#FF0000"><%= flash[:ng_message] %></div>
<% end %>

<% form_tag :action => :index do %>
  <%= text_field_tag :answer, params[:answer] %><br />
  <%= hidden_field_tag :question_id, @question.id %><br />
  <%= submit_tag "回答" %>
<% end %>


